.food-img img{
    width: 200px;
    height: 200px;
    
}
#food-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border: 1px; 

}
body{
    background-color: black;
}
#Food-details img{
    height:200px;
    width: 250px;
    margin-top: 20px;

}
#Food-details{
    text-align: center;
    margin-top: 20px;
    height: 450px;
    width: 350px; 
    border-radius: 20px;
    /* background-color: salmon; */
    margin-left: 280px;
    display: none;
}
#Food-details p{
    line-height: 5px;
    color: white;
}
#Food-details h2{
    
    color: white;
}
#error{
    text-align: center;
}

